extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="")
            .col-md-7
                h1= pagina
                blockquote Maecenas sollicitudin lacus ex. Ut finibus velit sed est hendrerit blandit vitae vel diam. Nullam tellus arcu, luctus at metus eget, ultrices congue mauris. Proin sit amet bibendum nisi.
                p Etiam finibus quis nunc ac condimentum. Cras dictum posuere dui ut luctus. Praesent sit amet elementum enim. Proin faucibus lectus in nisl fermentum pharetra. Etiam ligula eros, tempus eget dui ac, euismod tempus arcu.
                p Fusce rhoncus elementum dolor, eget dictum libero facilisis quis. Sed eleifend, metus et dapibus ultricies, nulla quam interdum enim, eu interdum turpis augue id lacus. Nam ullamcorper sem dapibus, mollis urna vel, faucibus lectus. Donec varius metus vitae gravida congue. Pellentesque ut turpis dolor.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Curabitur id bibendum tortor, nec dictum magna. Sed faucibus tristique turpis, finibus varius ligula rhoncus id
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Curabitur id bibendum tortor, nec dictum magna. Sed faucibus tristique turpis, finibus varius ligula rhoncus id
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor Precio
                    p Curabitur id bibendum tortor, nec dictum magna. Sed faucibus tristique turpis, finibus varius ligula rhoncus id